body {
    font-size: 14px;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="submit" i],
input[type="reset" i] {
    padding: 1px 6px !important;
}

th {
    padding-top: 8px;
    padding-bottom: 8px;
}
