body {
    font-size: 14px;
}

a:link, a:visited {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline;
}

input[type="submit" i],
input[type="reset" i] {
    padding: 1px 6px !important;
}

.notification__delete {
    float: none !important;
    display: block !important;
}

th {
    padding-top: 6px;
    padding-bottom: 6px;
}
